In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
file= r'C:\\Data\\Churn_Modelling.csv'

In [43]:
data= pd.read_csv(file)

In [44]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [45]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [46]:
X= data.drop('Exited', axis= 1)
y= data['Exited']

In [47]:
X

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [48]:
X= X.drop(['RowNumber','CustomerId','Surname'], axis=1)

In [49]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [50]:
# create dummies variable for categorical variable

In [51]:
geography= pd.get_dummies(X['Geography'],drop_first=True)
gender= pd.get_dummies(X['Gender'], drop_first=True)

In [52]:
X= pd.concat([X,geography,gender], axis=1)

In [53]:
X= X.drop(['Geography','Gender'], axis= 1)

In [54]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [57]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

In [58]:
from sklearn.preprocessing import StandardScaler

In [59]:
sc= StandardScaler()

In [60]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [61]:
from tensorflow.keras.models import Sequential # this library is responsible for creating neural networs it should be always installed 
from tensorflow.keras.layers import Dense, LeakyReLU, PReLU, ELU, Dropout, Activation, Flatten, BatchNormalization

Intializing the neural network

In [62]:
classifier= Sequential()

In [63]:
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation= 'relu', input_dim = 11))
# this is the first hidden layer
# output_dim is basically how many neurons to consider in hidden layer
# init is the intialization parameter it tells how weights are intialzed
# input_dim is no of the fetaures

In [64]:
# Adding second hidden layer

In [65]:
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation= 'relu'))

In [66]:
# Adding the output layer

In [67]:
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation= 'sigmoid'))

In [68]:
classifier.summary()

Model: "sequential_62"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_64 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_65 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_66 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [69]:
classifier.compile(optimizer= 'adam', loss= 'binary_crossentropy', metrics=['accuracy'])

In [70]:
model_history=classifier.fit(X_train, y_train,validation_split=0.33, batch_size = 10, epochs = 100)

Epoch 1/100
536/536 [==============================] - 1s 1ms/step - loss: 0.6108 - accuracy: 0.7110 - val_loss: 0.4999 - val_accuracy: 0.7986
Epoch 2/100
536/536 [==============================] - 0s 766us/step - loss: 0.4784 - accuracy: 0.8005 - val_loss: 0.4603 - val_accuracy: 0.7986
Epoch 3/100
536/536 [==============================] - 0s 748us/step - loss: 0.4484 - accuracy: 0.8009 - val_loss: 0.4381 - val_accuracy: 0.8008
Epoch 4/100
536/536 [==============================] - 0s 741us/step - loss: 0.4285 - accuracy: 0.8067 - val_loss: 0.4253 - val_accuracy: 0.8012
Epoch 5/100
536/536 [==============================] - 0s 744us/step - loss: 0.4175 - accuracy: 0.8087 - val_loss: 0.4179 - val_accuracy: 0.8023
Epoch 6/100
536/536 [==============================] - 0s 742us/step - loss: 0.4112 - accuracy: 0.8128 - val_loss: 0.4128 - val_accuracy: 0.8054
Epoch 7/100
536/536 [==============================] - 0s 754us/step - loss: 0.4069 - accuracy: 0.8130 - val_loss: 0.4094 - val_accuracy: 0.8076
Epoch 8/100
536/536 [==============================] - 0s 761us/step - loss: 0.4034 - accuracy: 0.8162 - val_loss: 0.4058 - val_accuracy: 0.8118
Epoch 9/100
536/536 [==============================] - 0s 733us/step - loss: 0.3999 - accuracy: 0.8182 - val_loss: 0.4046 - val_accuracy: 0.8194
Epoch 10/100
536/536 [==============================] - 0s 743us/step - loss: 0.3970 - accuracy: 0.8235 - val_loss: 0.3968 - val_accuracy: 0.8201
Epoch 11/100
536/536 [==============================] - 0s 773us/step - loss: 0.3920 - accuracy: 0.8248 - val_loss: 0.3924 - val_accuracy: 0.8236
Epoch 12/100
536/536 [==============================] - 0s 722us/step - loss: 0.3871 - accuracy: 0.8294 - val_loss: 0.3878 - val_accuracy: 0.8247
Epoch 13/100
536/536 [==============================] - 0s 745us/step - loss: 0.3822 - accuracy: 0.8298 - val_loss: 0.3831 - val_accuracy: 0.8277
Epoch 14/100
536/536 [==============================] - 0s 725us/step - loss: 0.3779 - accuracy: 0.8300 - val_loss: 0.3798 - val_accuracy: 0.8285
Epoch 15/100
536/536 [==============================] - 0s 733us/step - loss: 0.3744 - accuracy: 0.8313 - val_loss: 0.3775 - val_accuracy: 0.8277
Epoch 16/100
536/536 [==============================] - 0s 741us/step - loss: 0.3709 - accuracy: 0.8298 - val_loss: 0.3748 - val_accuracy: 0.8285
Epoch 17/100
536/536 [==============================] - 0s 759us/step - loss: 0.3695 - accuracy: 0.8343 - val_loss: 0.3730 - val_accuracy: 0.8292
Epoch 18/100
536/536 [==============================] - 0s 789us/step - loss: 0.3675 - accuracy: 0.8339 - val_loss: 0.3699 - val_accuracy: 0.8319
Epoch 19/100
536/536 [==============================] - 0s 713us/step - loss: 0.3650 - accuracy: 0.8350 - val_loss: 0.3687 - val_accuracy: 0.8315
Epoch 20/100
536/536 [==============================] - 0s 713us/step - loss: 0.3634 - accuracy: 0.8356 - val_loss: 0.3653 - val_accuracy: 0.8342
Epoch 21/100
536/536 [==============================] - 0s 784us/step - loss: 0.3618 - accuracy: 0.8341 - val_loss: 0.3641 - val_accuracy: 0.8360
Epoch 22/100
536/536 [==============================] - 0s 740us/step - loss: 0.3603 - accuracy: 0.8377 - val_loss: 0.3634 - val_accuracy: 0.8342
Epoch 23/100
536/536 [==============================] - 0s 762us/step - loss: 0.3596 - accuracy: 0.8360 - val_loss: 0.3608 - val_accuracy: 0.8353
Epoch 24/100
536/536 [==============================] - 0s 718us/step - loss: 0.3583 - accuracy: 0.8375 - val_loss: 0.3602 - val_accuracy: 0.8368
Epoch 25/100
536/536 [==============================] - 0s 723us/step - loss: 0.3571 - accuracy: 0.8475 - val_loss: 0.3581 - val_accuracy: 0.8573
Epoch 26/100
536/536 [==============================] - 0s 755us/step - loss: 0.3558 - accuracy: 0.8539 - val_loss: 0.3570 - val_accuracy: 0.8591
Epoch 27/100
536/536 [==============================] - 0s 719us/step - loss: 0.3550 - accuracy: 0.8548 - val_loss: 0.3563 - val_accuracy: 0.8595
Epoch 28/100
536/536 [==============================] - 0s 767us/step - loss: 0.3537 - accuracy: 0.8550 - val_loss: 0.3542 - val_accuracy: 0.8603
Epoch 29/100
536/536 [==============================] - 0s 735us/step - loss: 0.3524 - accuracy: 0.8543 - val_loss: 0.3542 - val_accuracy: 0.8618
Epoch 30/100
536/536 [==============================] - 0s 752us/step - loss: 0.3518 - accuracy: 0.8561 - val_loss: 0.3523 - val_accuracy: 0.8614
Epoch 31/100
536/536 [==============================] - 0s 747us/step - loss: 0.3503 - accuracy: 0.8559 - val_loss: 0.3505 - val_accuracy: 0.8626
Epoch 32/100
536/536 [==============================] - 0s 752us/step - loss: 0.3492 - accuracy: 0.8580 - val_loss: 0.3500 - val_accuracy: 0.8629
Epoch 33/100
536/536 [==============================] - 0s 727us/step - loss: 0.3482 - accuracy: 0.8582 - val_loss: 0.3492 - val_accuracy: 0.8614
Epoch 34/100
536/536 [==============================] - 0s 714us/step - loss: 0.3472 - accuracy: 0.8599 - val_loss: 0.3483 - val_accuracy: 0.8641
Epoch 35/100
536/536 [==============================] - 0s 720us/step - loss: 0.3462 - accuracy: 0.8597 - val_loss: 0.3456 - val_accuracy: 0.8626
Epoch 36/100
536/536 [==============================] - 0s 751us/step - loss: 0.3453 - accuracy: 0.8604 - val_loss: 0.3452 - val_accuracy: 0.8656
Epoch 37/100
536/536 [==============================] - 0s 720us/step - loss: 0.3440 - accuracy: 0.8614 - val_loss: 0.3498 - val_accuracy: 0.8626
Epoch 38/100
536/536 [==============================] - 0s 727us/step - loss: 0.3446 - accuracy: 0.8604 - val_loss: 0.3459 - val_accuracy: 0.8629
Epoch 39/100
536/536 [==============================] - 0s 754us/step - loss: 0.3428 - accuracy: 0.8600 - val_loss: 0.3451 - val_accuracy: 0.8644
Epoch 40/100
536/536 [==============================] - 0s 733us/step - loss: 0.3421 - accuracy: 0.8610 - val_loss: 0.3424 - val_accuracy: 0.8667
Epoch 41/100
536/536 [==============================] - 0s 734us/step - loss: 0.3416 - accuracy: 0.8610 - val_loss: 0.3432 - val_accuracy: 0.8663
Epoch 42/100
536/536 [==============================] - 0s 713us/step - loss: 0.3407 - accuracy: 0.8604 - val_loss: 0.3418 - val_accuracy: 0.8656
Epoch 43/100
536/536 [==============================] - 0s 760us/step - loss: 0.3409 - accuracy: 0.8651 - val_loss: 0.3428 - val_accuracy: 0.8656
Epoch 44/100
536/536 [==============================] - 0s 767us/step - loss: 0.3394 - accuracy: 0.8655 - val_loss: 0.3412 - val_accuracy: 0.8610
Epoch 45/100
536/536 [==============================] - 0s 759us/step - loss: 0.3395 - accuracy: 0.8662 - val_loss: 0.3404 - val_accuracy: 0.8641
Epoch 46/100
536/536 [==============================] - 0s 721us/step - loss: 0.3385 - accuracy: 0.8614 - val_loss: 0.3407 - val_accuracy: 0.8652
Epoch 47/100
536/536 [==============================] - 0s 750us/step - loss: 0.3377 - accuracy: 0.8651 - val_loss: 0.3391 - val_accuracy: 0.8644
Epoch 48/100
536/536 [==============================] - 0s 750us/step - loss: 0.3375 - accuracy: 0.8645 - val_loss: 0.3436 - val_accuracy: 0.8622
Epoch 49/100
536/536 [==============================] - 0s 736us/step - loss: 0.3378 - accuracy: 0.8651 - val_loss: 0.3404 - val_accuracy: 0.8610
Epoch 50/100
536/536 [==============================] - 0s 773us/step - loss: 0.3373 - accuracy: 0.8643 - val_loss: 0.3392 - val_accuracy: 0.8614
Epoch 51/100
536/536 [==============================] - 0s 717us/step - loss: 0.3367 - accuracy: 0.8645 - val_loss: 0.3395 - val_accuracy: 0.8626
Epoch 52/100
536/536 [==============================] - 0s 751us/step - loss: 0.3358 - accuracy: 0.8632 - val_loss: 0.3389 - val_accuracy: 0.8660
Epoch 53/100
536/536 [==============================] - 0s 722us/step - loss: 0.3358 - accuracy: 0.8655 - val_loss: 0.3381 - val_accuracy: 0.8614
Epoch 54/100
536/536 [==============================] - 0s 752us/step - loss: 0.3354 - accuracy: 0.8662 - val_loss: 0.3374 - val_accuracy: 0.8637
Epoch 55/100
536/536 [==============================] - 0s 819us/step - loss: 0.3349 - accuracy: 0.8653 - val_loss: 0.3373 - val_accuracy: 0.8660
Epoch 56/100
536/536 [==============================] - 0s 777us/step - loss: 0.3356 - accuracy: 0.8634 - val_loss: 0.3374 - val_accuracy: 0.8637
Epoch 57/100
536/536 [==============================] - 0s 813us/step - loss: 0.3351 - accuracy: 0.8643 - val_loss: 0.3369 - val_accuracy: 0.8626
Epoch 58/100
536/536 [==============================] - 0s 805us/step - loss: 0.3347 - accuracy: 0.8645 - val_loss: 0.3364 - val_accuracy: 0.8648
Epoch 59/100
536/536 [==============================] - ETA: 0s - loss: 0.3331 - accuracy: 0.86 - 0s 733us/step - loss: 0.3341 - accuracy: 0.8666 - val_loss: 0.3363 - val_accuracy: 0.8614
Epoch 60/100
536/536 [==============================] - 0s 783us/step - loss: 0.3337 - accuracy: 0.8628 - val_loss: 0.3365 - val_accuracy: 0.8652
Epoch 61/100
536/536 [==============================] - 0s 734us/step - loss: 0.3340 - accuracy: 0.8660 - val_loss: 0.3365 - val_accuracy: 0.8652
Epoch 62/100
536/536 [==============================] - 0s 731us/step - loss: 0.3333 - accuracy: 0.8642 - val_loss: 0.3349 - val_accuracy: 0.8622
Epoch 63/100
536/536 [==============================] - 0s 792us/step - loss: 0.3332 - accuracy: 0.8638 - val_loss: 0.3357 - val_accuracy: 0.8610
Epoch 64/100
536/536 [==============================] - 0s 819us/step - loss: 0.3331 - accuracy: 0.8658 - val_loss: 0.3344 - val_accuracy: 0.8629
Epoch 65/100
536/536 [==============================] - 0s 717us/step - loss: 0.3336 - accuracy: 0.8645 - val_loss: 0.3349 - val_accuracy: 0.8641
Epoch 66/100
536/536 [==============================] - 0s 810us/step - loss: 0.3330 - accuracy: 0.8642 - val_loss: 0.3339 - val_accuracy: 0.8637
Epoch 67/100
536/536 [==============================] - 0s 745us/step - loss: 0.3326 - accuracy: 0.8632 - val_loss: 0.3347 - val_accuracy: 0.8667
Epoch 68/100
536/536 [==============================] - 0s 753us/step - loss: 0.3315 - accuracy: 0.8643 - val_loss: 0.3339 - val_accuracy: 0.8656
Epoch 69/100
536/536 [==============================] - 0s 766us/step - loss: 0.3321 - accuracy: 0.8643 - val_loss: 0.3349 - val_accuracy: 0.8652
Epoch 70/100
536/536 [==============================] - 0s 759us/step - loss: 0.3317 - accuracy: 0.8655 - val_loss: 0.3336 - val_accuracy: 0.8633
Epoch 71/100
536/536 [==============================] - 0s 804us/step - loss: 0.3318 - accuracy: 0.8628 - val_loss: 0.3352 - val_accuracy: 0.8626
Epoch 72/100
536/536 [==============================] - 0s 752us/step - loss: 0.3308 - accuracy: 0.8664 - val_loss: 0.3370 - val_accuracy: 0.8644
Epoch 73/100
536/536 [==============================] - 0s 755us/step - loss: 0.3306 - accuracy: 0.8630 - val_loss: 0.3361 - val_accuracy: 0.8629
Epoch 74/100
536/536 [==============================] - 0s 764us/step - loss: 0.3305 - accuracy: 0.8638 - val_loss: 0.3337 - val_accuracy: 0.8675
Epoch 75/100
536/536 [==============================] - 0s 752us/step - loss: 0.3309 - accuracy: 0.8658 - val_loss: 0.3319 - val_accuracy: 0.8648
Epoch 76/100
536/536 [==============================] - 0s 752us/step - loss: 0.3304 - accuracy: 0.8632 - val_loss: 0.3323 - val_accuracy: 0.8667
Epoch 77/100
536/536 [==============================] - 0s 755us/step - loss: 0.3304 - accuracy: 0.8630 - val_loss: 0.3360 - val_accuracy: 0.8614
Epoch 78/100
536/536 [==============================] - 0s 718us/step - loss: 0.3304 - accuracy: 0.8628 - val_loss: 0.3326 - val_accuracy: 0.8660
Epoch 79/100
536/536 [==============================] - 0s 772us/step - loss: 0.3303 - accuracy: 0.8647 - val_loss: 0.3321 - val_accuracy: 0.8667
Epoch 80/100
536/536 [==============================] - 0s 754us/step - loss: 0.3297 - accuracy: 0.8627 - val_loss: 0.3328 - val_accuracy: 0.8641
Epoch 81/100
536/536 [==============================] - 0s 716us/step - loss: 0.3299 - accuracy: 0.8645 - val_loss: 0.3316 - val_accuracy: 0.8667
Epoch 82/100
536/536 [==============================] - 0s 786us/step - loss: 0.3295 - accuracy: 0.8664 - val_loss: 0.3327 - val_accuracy: 0.8656
Epoch 83/100
536/536 [==============================] - 0s 768us/step - loss: 0.3293 - accuracy: 0.8651 - val_loss: 0.3318 - val_accuracy: 0.8656
Epoch 84/100
536/536 [==============================] - 0s 798us/step - loss: 0.3288 - accuracy: 0.8642 - val_loss: 0.3314 - val_accuracy: 0.8667
Epoch 85/100
536/536 [==============================] - 0s 750us/step - loss: 0.3287 - accuracy: 0.8649 - val_loss: 0.3306 - val_accuracy: 0.8690
Epoch 86/100
536/536 [==============================] - 0s 735us/step - loss: 0.3289 - accuracy: 0.8640 - val_loss: 0.3319 - val_accuracy: 0.8652
Epoch 87/100
536/536 [==============================] - 0s 762us/step - loss: 0.3292 - accuracy: 0.8625 - val_loss: 0.3302 - val_accuracy: 0.8660
Epoch 88/100
536/536 [==============================] - 0s 767us/step - loss: 0.3288 - accuracy: 0.8619 - val_loss: 0.3303 - val_accuracy: 0.8663
Epoch 89/100
536/536 [==============================] - 0s 730us/step - loss: 0.3285 - accuracy: 0.8638 - val_loss: 0.3336 - val_accuracy: 0.8667
Epoch 90/100
536/536 [==============================] - 0s 711us/step - loss: 0.3286 - accuracy: 0.8643 - val_loss: 0.3303 - val_accuracy: 0.8652
Epoch 91/100
536/536 [==============================] - 0s 773us/step - loss: 0.3278 - accuracy: 0.8660 - val_loss: 0.3325 - val_accuracy: 0.8663
Epoch 92/100
536/536 [==============================] - 0s 748us/step - loss: 0.3272 - accuracy: 0.8656 - val_loss: 0.3319 - val_accuracy: 0.8679
Epoch 93/100
536/536 [==============================] - 0s 759us/step - loss: 0.3280 - accuracy: 0.8628 - val_loss: 0.3317 - val_accuracy: 0.8663
Epoch 94/100
536/536 [==============================] - 0s 748us/step - loss: 0.3275 - accuracy: 0.8649 - val_loss: 0.3307 - val_accuracy: 0.8701
Epoch 95/100
536/536 [==============================] - 0s 752us/step - loss: 0.3281 - accuracy: 0.8630 - val_loss: 0.3296 - val_accuracy: 0.8663
Epoch 96/100
536/536 [==============================] - 0s 752us/step - loss: 0.3268 - accuracy: 0.8643 - val_loss: 0.3286 - val_accuracy: 0.8679
Epoch 97/100
536/536 [==============================] - 0s 767us/step - loss: 0.3277 - accuracy: 0.8643 - val_loss: 0.3303 - val_accuracy: 0.8663
Epoch 98/100
536/536 [==============================] - 0s 736us/step - loss: 0.3272 - accuracy: 0.8655 - val_loss: 0.3319 - val_accuracy: 0.8660
Epoch 99/100
536/536 [==============================] - 0s 737us/step - loss: 0.3271 - accuracy: 0.8619 - val_loss: 0.3307 - val_accuracy: 0.8663
Epoch 100/100
536/536 [==============================] - 0s 742us/step - loss: 0.3267 - accuracy: 0.8640 - val_loss: 0.3295 - val_accuracy: 0.8652

In [71]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [72]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [73]:
score

0.838

In [74]:
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

In [75]:
from sklearn.model_selection import GridSearchCV

In [76]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
    model.add(Dense(1)) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model
    
model = KerasClassifier(build_fn=create_model, verbose=0)

In [77]:
model

In [78]:
layers = [[20], [40, 20], [45, 30, 15]]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid)

In [79]:
grid_result = grid.fit(X_train, y_train)

In [80]:
[grid_result.best_score_,grid_result.best_params_]

[0.853374981880188,
 {'activation': 'relu',
  'batch_size': 256,
  'epochs': 30,
  'layers': [45, 30, 15]}]

In [81]:
pred_y = grid.predict(X_test)

C:\Anaconda folder\lib\site-packages\tensorflow\python\keras\engine\sequential.py:455: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [82]:
y_pred = (pred_y > 0.5)

In [83]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [85]:
cm

array([[1495,   71],
       [ 260,  174]], dtype=int64)

In [86]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [87]:
score

0.8345